html{
    height: 100%;
    overflow:hidden;
    font-weight:100;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 35em;
    letter-spacing:-0.01em;
    height: 100%;
	margin:0px;
}
svg {
    width: 100%;
    height: 100%;
    position:absolute;
}
svg text {
    text-anchor: middle;
	font-size:150px;
}
svg mask rect {
    fill: rgba(255,255,255, 0.9);
}
svg > rect {
    fill: rgba(255,255,255, 0.9);
    -webkit-mask: url(#mask);
    mask: url(#mask);
}
video{
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
}

#countdown{
	font-size:50px;
	letter-spacing:0.00em;
}
#theme{
	font-size:50px;
	letter-spacing:0.00em;
}
#button{
	font-size:50px;
	color:rgba(255,255,255,1);
	z-index:5;
	letter-spacing:0.03em;
	background-color: #444444;
	
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
  html{
    font-size:0.5em;
    font-weight:400;
  }
}
.videoContainer {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-attachment: scroll;
    overflow: hidden;
}
.videoContainer video {
    position: relative;
    z-index: 1;
}
.videoContainer .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: rgba(0,0,0,0.5);
}